.logout-form {
  &--submit {
    background-color: steelblue;
    border: 1px solid steelblue;
    color: white;
    font-weight: bold;
    outline: none;
    height: 100px;
    width: 200px;
    transition: opacity 150ms;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
