.message {
  margin: 12px 6px;
  color: white;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--author {
    font-weight: bold;
  }

  &--time {
    color: lightgrey;
    font-size: 12px;
  }

  &--text p {
    margin: 0;
  }
}
